<div class="container">
    <div class="row content">
        <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-6 col-xs-6">
            <img ng-src="img/{{ activeImgUrl}}" alt="..." class="img-responsive img-big" ng-click='showNext()'>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-6">
            <h2 class="topic-margin" ng-bind="heading"></h2>
            <p ng-bind="text">
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row img-row">
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col" ng-repeat="img in images track by $index">
                <img ng-src="img/{{ img }}" alt="..." class="img-responsive" ng-click="imgSelect($index)">
            </div>
        </div>
    </div>
</div>